/* .sidebar {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sidebar-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.sidebar-menu li .link {
  color: black;
  font-family: "VCR OSD Mono", sans-serif;
  font-weight: bold;
  margin-top: 5px;
  text-decoration: none;
} */

.dashboard-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  background-color: #161616;
}
